* {
  margin: 0;
}

#splash {
  width: 30vw;
  height: auto;
  margin: 10vh auto auto 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#splash img {
  width: 100%;
  height: auto;
}

#splash button {
  width: 200;
  height: 20%;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Permanent Marker", Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.6);
  color: #172434;
}

#game header {
  background-color: #333333;
  color: #eeeeee;
  font-family: "Permanent Marker", Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#left {
  text-align: left;
  display: flex;
}
#left > div {
  padding-left: 1vw;
}

#rigth > div {
  padding-right: 1vw;
}

#rigth {
  text-align: right;
}

#active-area img {
  width: 100vw;
  height: auto;
  position: fixed;
  bottom: 0;
}
